client/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:5555/?xsd=1"/>
</xsd:schema>
</types>
<message name="convertEuroToDh">
<part name="parameters" element="tns:convertEuroToDh"/>
</message>
<message name="convertEuroToDhResponse">
<part name="parameters" element="tns:convertEuroToDhResponse"/>
</message>
<message name="getBankAccounts">
<part name="parameters" element="tns:getBankAccounts"/>
</message>
<message name="getBankAccountsResponse">
<part name="parameters" element="tns:getBankAccountsResponse"/>
</message>
<message name="getBankAccount">
<part name="parameters" element="tns:getBankAccount"/>
</message>
<message name="getBankAccountResponse">
<part name="parameters" element="tns:getBankAccountResponse"/>
</message>
<portType name="BankService">
<operation name="convertEuroToDh">
<input wsam:Action="http://ws/BankService/convertEuroToDhRequest" message="tns:convertEuroToDh"/>
<output wsam:Action="http://ws/BankService/convertEuroToDhResponse" message="tns:convertEuroToDhResponse"/>
</operation>
<operation name="getBankAccounts">
<input wsam:Action="http://ws/BankService/getBankAccountsRequest" message="tns:getBankAccounts"/>
<output wsam:Action="http://ws/BankService/getBankAccountsResponse" message="tns:getBankAccountsResponse"/>
</operation>
<operation name="getBankAccount">
<input wsam:Action="http://ws/BankService/getBankAccountRequest" message="tns:getBankAccount"/>
<output wsam:Action="http://ws/BankService/getBankAccountResponse" message="tns:getBankAccountResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convertEuroToDh">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBankAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBankAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWS">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:5555/"/>
</port>
</service>
</definitions>